<!DOCTYPE html>
<html lang="en">
  <head>
    {# <link rel="stylesheet" href="{{ asset('css/styles.css') }}" /> #}
    {# <link rel="stylesheet" href="{{ asset('build/app.css') }}" /> #}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Movie Details Page
    </title>
  </head>
  <body>
    {# <h2>
      Input from JavaScript file:
    </h2> #}
    <div id="app"
      data-movie-details="{{ movieJson|json_encode|e('html_attr') }}"></div>
    {#
    <br />
    <h2>
      Info from Twig template. Info from PHP array passed to via Controller:
    </h2>
    {% if id %}
      <h3>
        Details for movie: {{ movieDetails.title }} (ID: {{ movieDetails.id }})
      </h3>
      <p>
        {{ movieDetails.description }}
      </p>

      {% if movieDetails.videoKey is defined %}
        <embed width="420"
          height="315"
          src="https://www.youtube.com/embed/{{ movieDetails.videoKey }}" />
      {% else %}
        <p>
          Sorry! This movie does not have a video in the database.
        </p>
      {% endif %}
    {% else %}
      <p>
        Woops, no id is selected title set.
      </p>
    {% endif %} #}
    {# <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script> #}
    {# <script src="{{ asset('build/app.js') }}"></script> #}

    {# <script type="text/jsx" src="{{ asset('js/first-react.js') }}"></script> #}
  </body>
</html>
